<div class="cards-container">
  <div
    *ngFor="let product of products.slice(startIndex, endIndex + 1)"
    class="card"
  >
    <img [src]="product.imgsrc" [alt]="product.desc" class="img" />
    <div class="card-info">
      <div class="details">
        <p class="brand">{{ product.brand }}</p>
        <p class="type">{{ product.type }}</p>
        <p class="rating">
          <span
            class="star-container"
            [innerHTML]="getStarRating(product.rating)"
          ></span>
        </p>
      </div>
      <div class="details">
        <p class="price">${{ product.price }}</p>
        <a [routerLink]="['/product', product.id]"
          ><i class="fas fa-thin fa-cart-plus cart"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <button
    *ngFor="let pageNumber of pageNumbers()"
    (click)="currentPage = pageNumber"
  >
    {{ pageNumber }}
  </button>
</div>
